* {
    margin: 0px;
    padding: 0px;
    border:border-box;
}
html, body {
    overflow-x: hidden;
}
.border:hover {
    border: 2px solid rgb(255, 219, 250);
    border-radius: 5px;
}
.navbar{
    height: 54px;
    width: 100%;
    background-color:#ff5959;
    color:rgb(249, 249, 236);
    display:flex;
    /* justify-content:center; */
    align-items:center;
}

.nav-search{
    height: 37px;
    width: 420px;
    margin-right:10px;
    display:flex;
    flex-grow:1.3;
    max-width: 50vw;
}
.nav-select{
    height: 37px;
    width: 45px;
    display:flex;
    color:whitesmoke;
    background-color:#2E3A59;
    justify-content:center;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    align-items:center;
    font-weight:750;
}
.search-input{
    height: 37px;
    width: 21vw;
    font-size:1rem;
    border:none;
    flex-grow:1;    
}
.search-icon{
    height: 37px;
    width: 45px;
    display:flex;
    background-color:#2E3A59;
    justify-content:center;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    align-items:center;
}
.cart{
    height: 44px;
    width: 50px;
    position:relative;
    text-align:center;
    color:rgb(250, 250, 235);
    margin-top:5px;
    background-color:rgb(237, 82, 4);
    display:inline-block;
    position:fixed;
    right: 5px;
    top:50px;
    border-radius: 8px; 
    z-index:9;
}
.car-icon{
    color:rgb(215, 193, 136);
    z-index:9;
    
}
/* Show "Feedback" on mobile (≤768px) */
@media (max-width: 404px) {
    .logo-name{
    display:none}
    .nav-logo{
    height: 50px;
    width: 150px;
    display:flex;
    margin-left:4px;
    }
    .logo{
    background-image:url("LocaalRapid.ico");
    background-size:cover;
    height: 50px;
    width: 65px;}
    .nav-search{
    width: 420px;
    }
}  

/* Show "Give your Feedback Here" on PC (>768px) */
@media (min-width: 405px) {
    .logo-name{
    color:rgb(233, 228, 214);
    font-size:1.5rem;
    }
    .logo{
    background-image:url("LocaalRapid.ico");
    background-size:cover;
    height: 50px;
    width: 65px;}
    .nav-logo{
    margin-left:5px;
    height: 50px;
    width: 150px;
    display:flex;
    align-items:center;
    justify-content:center;}
    /* .nav-search{
    width: 550px;
    } */
}
 /* Hamburger Button */
    .hamburger {
      width:64px;
      font-size: 22px;
      cursor: pointer;
      display:flex;
      align-items:center;
      justify-content:center;
      /* z-index: 1100; always above sidebar */
    }
    .hamburger:active{
        color:#ed8544;
    }

    /* Sidebar */
    .sidebar {
      position: fixed;
      top: 0;
      left: -280px; /* hidden */
      width: 250px;
      height: 100%;
      background: #f9f6e5;
      transition: left 0.3s ease;
      overflow-y: auto;
      z-index: 1000;
      padding-top: 60px;
    }
    .sidebar.active {
      left: 0; /* visible */
    }

    /* Overlay */
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 242, 242, 0.5);
      display: none;
      z-index: 900;
    }
    .overlay.active {
      display: block;
    }

    /* Sidebar links */
    
    .bar-a {
      display: block;
      padding: 12px 20px;
      text-decoration: none;
      color: #1e083d;
      text-transform:capitalize;
      transition: background 0.2s;
    }
    .bar-a:hover {
      background: #ffd77abc;
      color:brown;
    }
    .active-a {
        border:2px solid #fad170bc;
        border-radius: 5px;
        box-shadow: 0 2px 8px #ffd77abc;
        color:brown;
    }



.shop-section{    
    /* min-height:100vh; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* auto-fit for larger screens */
  
}

/* Force at least 2 products per row on mobiles */
.product:hover{
    box-shadow: 0 3px 8px #ffcc54bc;
}
.product {
    background-color: rgb(255, 253, 248);
    width: 170px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(225, 223, 214);
    border-radius: 6px;
    margin:5px;
    transition: transform 0.2s ease;
}
 @media (max-width: 400px) {
    .product{width: 300px;
    margin-left:15px;
    margin-right:15px;
}
    
  }


.image-wrapper img {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
}


.delivery_time{
    font-size:12px;
    display:inline-block;
    margin:3px;
    border-radius:8px;
    padding:2px;
    font-weight:bold;
    animation:blink 1.5s ease-in 0s infinite alternate;
}
@keyframes blink{
    from{
        color:#866ece;
        background-color:#eceef1;
    border:1px solid #ffffff;
    }
    to{color:white;
        background-color:hwb(0 100% 0%);
    border:1px solid #dedddd;
    }
}
.message{
    font-size:11px;
    display:inline;
    font-weight:900;
    text-transform:capitalize;
    border-radius:8px;
    padding:0px 3px 0px 3px;
    animation:blink-message 2s ease-in 0.14s infinite alternate;
}
@keyframes blink-message {
    from{
        color:#03be0f;
        background-color:#edf9e9;
    border:1px solid #a1dc65;
    }
    to{color:white;
        background-color:hwb(0 100% 0%);
    border:1px solid #ffffff;
    }
}
/* Product name */
.product h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 8px 0 4px;
    color:#500163;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    text-transform:capitalize;
}
.product h3:hover{
    color:#9f006f;
}

.product-lower{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
}
/* Product price */
.product-price {
    font-size: 20px;
    font-weight: 600;
    color: #070158;
    margin-left: 8px;
    margin-bottom: 10px;
}
del{
    color:rgb(255, 68, 0);
    text-decoration: 3px solid  line-through rgb(245, 4, 4);
}
.discount-percent {
    display:flex;
    position:absolute;
    float: right;
    background-color:rgb(98, 36, 231);
    font-size:12px;
    padding: 4px 4px 6px 8px;
    color:rgb(246, 246, 244);
    border: 1px solid rgb(113, 4, 150);
    clip-path: polygon(
        0 0, 100% 0, 100% 80%, 
        95% 100%, 85% 80%, 75% 100%, 
        65% 80%, 55% 100%, 45% 80%, 
        35% 100%, 25% 80%, 15% 100%, 
        5% 80%, 0 100%
      );    
} 
.product-subcategory{
    text-transform:capitalize;
    font-weight:550;
    color:#b28573;
}
.product-message{
    text-transform:capitalize;
    font-size: 11px;
    color:#787871;
    padding: 4px;
    font-weight: 600;
}
/* Add to Cart button */
.add-btn {
    color: #4caf50;
    border: none;
    border: 1px solid #4caf50;
    border-radius:5px;
    font-weight: 600;
    padding:10px;
    margin-right: 8px;
    margin-bottom:7px;
    transition: background 0.2s ease;
}
.add-btn:hover {
    background-color: #43a047;
    color:whitesmoke;
}

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



 .container {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
    
} 
.come-soon {
    display:block;
    font-size: 1.2rem;
    margin: 10px;
    font-weight: 300;
    padding:3em;
    animation:blink-soon 1.5s ease-in 0s infinite alternate;
}
.soon-text{
    margin-top:10px;
}
@keyframes blink-soon{
    from{
        color:#4a7eee;
        background: linear-gradient(to right, #ff7eb3, #8a75ff);
    border:1px solid #ffffff;
    border-radius:10px;
    }
    to{color:white;
        background: linear-gradient(to right, #8a75ff, #ff7eb3);
    border:1px solid #dedddd;
    border-radius:10px;
    }
}

/* Fade-in animation */
 @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}  

footer{
    height: 35px;
    width:100vw;
    color:whitesmoke;
    position:sticky;
    bottom:0px;
    text-align:center;
    padding-top:12px;
    display:inline-block;
    background-color:#eb0000;
    border:5px solid #eb0000e6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer{
    height: 35px;
    width:100vw;
    color:whitesmoke;
    position:sticky;
    bottom:0px;
    text-align:center;
    padding-top:12px;
    display:inline-block;
    background-color:#eb0000;
    border:5px solid #eb0000e6;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
}