 /* Hamburger Button */
    .hamburger {
      width:64px;
      font-size: 22px;
      padding: 12px;
      cursor: pointer;
      display:flex;
      align-items:center;
      justify-content:center;
    }
    .hamburger:active{
        color:#ed8544;
    }

    /* Sidebar */
    .sidebar {
      position: fixed;
      top: 0;
      left: -280px; /* hidden */
      width: 250px;
      height: 100%;
      background: #f9f6e5;
      transition: left 0.3s ease;
      overflow-y: auto;
      z-index: 1000;
      padding-top: 60px;
    }
    .sidebar.active {
      left: 0; /* visible */
    }

    /* Overlay */
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 242, 242, 0.5);
      display: none;
      z-index: 900;
    }
    .overlay.active {
      display: block;
    }

    /* Sidebar links */
    
    .bar-a {
      display: block;
      padding: 12px 20px;
      text-decoration: none;
      color: #1e083d;
      text-transform:capitalize;
      transition: background 0.2s;
    }
    .bar-a:hover {
      background: #ffd77abc;
      color:brown;
    }
    .active-a {
        border:2px solid #fad170bc;
        border-radius: 5px;
        box-shadow: 0 2px 8px #ffd77abc;
        color:brown;
    }

